{% extends 'seller/seller_base.html' %}

{% load static %}

{% block content %}
    <main class="main-content" id="good_orders_list">
        <!--== Start Page Header Area Wrapper ==-->
        <div class="page-header-area" data-bg-img="{% static 'img/photos/background.jpg' %}">
            <div class="container pt--0 pb--0">
                <div class="row">
                    <div class="col-12">
                        <div class="page-header-content">
                            <h2 class="title">Goods Orders</h2>
                            <nav class="breadcrumb-area">
                                <ul class="breadcrumb">
                                    <li>Home</li>
                                    <li class="breadcrumb-sep">//</li>
                                    <li>Goods Orders</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h4 class="title" style="border-bottom: 1px solid #e5e5e5;margin-bottom: 16px;padding-bottom: 8px">
                    Goods Orders</h4>
                <h6>Total: {{ orders.count }}</h6>
                <div class="shopping-cart-form table-responsive">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Goods Info</th>
                            <th>Buyer Info</th>
                            <th>Delivery Info</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order_item in orders.list %}
                            <tr class="tbody-item">
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td>{{ order_item.created_at }}</td>
                                <td class="my_total_price">${{ order_item.total_price }}</td>
                                <td>
                                    <ul>
                                        {% for good_item in order_item.goods_info %}
                                            <li class="my_li">
                                                <img src="{{ good_item.goods.image.url }}"
                                                     style="width: 50px;height: 40px;object-fit: cover;margin-right: 4px">
                                                <span style="text-decoration: underline;margin-right: 8px">{{ good_item.goods.title }}</span>
                                                <span>${{ good_item.goods.price }} x {{ good_item.count }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>{{ order_item.user.username }}</td>
                                <td>
                                    <div>{{ order_item.delivery_info.name }}</div>
                                    <div>{{ order_item.delivery_info.phone }}</div>
                                </td>
                                <td>
                                    <form action="/seller/good_orders_status_update/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{ order_item.id }}"/>
                                        <div class="my_flex">
                                            <select name="status" style="width: 150px" class="form-control">
                                                {% for status_item in orders.choices_status %}
                                                    <option value="{{ status_item.0 }}"
                                                            {% if order_item.status == status_item.0 %}
                                                            selected {% endif %}>
                                                        {{ status_item.1 }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                            <input type="submit" class="btn-sm btn-primary btn" value="Edit">
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div style="margin: 8px 0">
                        <script>
                            document.write(Pager({
                                totalCount: {{ orders.count }}, 		// 总条数
                                pageSize: 10,    			// 每页显示 n条，默认10
                                buttonSize: 5,   		// 显示按钮个数，默认10
                                pageParam: 'page',   		// 页面的参数名为'page'，默认为'page'
                                className: 'pagination', //分页的样式
                                {#prevButton: '往前',     //上一页按钮#}
                                {#nextButton: '往后',     //下一页按钮#}
                                firstButton: 'First',      //第一页按钮
                                lastButton: 'Last',       //最后一页按钮
                            }));
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </main>

{% endblock %}
