{% extends 'seller/seller_base.html' %}

{% load static %}

{% block content %}
    <style>
        .order-line {
            display: flex;
            justify-content: space-between;

            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 16px;
            padding-bottom: 8px
        }
    </style>

    <main class="main-content" id="service_list">
            <!--== Start Page Header Area Wrapper ==-->
            <div class="page-header-area" data-bg-img="{% static 'img/photos/background.jpg' %}">
                <div class="container pt--0 pb--0">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-header-content">
                                <h2 class="title">Service Maintenance</h2>
                                <nav class="breadcrumb-area">
                                    <ul class="breadcrumb">
                                        <li>Home</li>
                                        <li class="breadcrumb-sep">//</li>
                                        <li>Service Maintenance</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="order-line">
                    <h4 class="title"> Services Maintenance </h4>
                    <button class="button btn-primary" onclick="location.href='/seller/service_add'">Add</button>
                </div>
                <div class="shopping-cart-form table-responsive">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Img</th>
                            <th>Product</th>
                            <th>Desc</th>
                            <th>Price</th>
                            <th>Category Name</th>
                            <th>Time</th>
                            <th>Operate</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for service_item in service.list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><img src="{{ service_item.image.url }}" class="my_img"/></td>
                                <td>{{ service_item.title }}</td>
                                <td style="max-width: 150px"><span
                                        class="my_just_3_line">{{ service_item.desc }}</span></td>
                                <td>{{ service_item.price }}</td>
                                <td>
                                    {{ service_item.category_name }}
                                </td>
                                <td>{{ service_item.created_at | date:'Y-m-d H:i:s' }}</td>
                                <td>
                                    <button class="btn-warning"
                                            onclick="location.href='/seller/service_update/{{ service_item.id }}'">EDIT
                                    </button>
                                    <button class="btn-danger"
                                            onclick="location.href='/seller/service_del/{{ service_item.id }}'">DEL
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>

                    <div style="margin: 8px 0">
                        <script>
                            document.write(Pager({
                                totalCount: {{ services.count }}, 		// 总条数
                                pageSize: 10,    			// 每页显示 n条，默认10
                                buttonSize: 5,   		// 显示按钮个数，默认10
                                pageParam: 'page',   		// 页面的参数名为'page'，默认为'page'
                                className: 'pagination', //分页的样式
                                {#prevButton: '往前',     //上一页按钮#}
                                {#nextButton: '往后',     //下一页按钮#}
                                firstButton: 'First',      //第一页按钮
                                lastButton: 'Last',       //最后一页按钮
                            }));
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>

{% endblock %}
