{% extends 'seller/seller_base.html' %}

{% load static %}

{% block content %}
    <style>
        .my_form_block {
            margin-bottom: 8px;
        }
    </style>

    <div class="container" id="services">

        <div class="row">
            <div class="col-md-12">
                <h4 class="title" style="border-bottom: 1px solid #e5e5e5;margin-bottom: 16px;padding-bottom: 8px">
                    Update Service</h4>
                <div class="shopping-cart-form table-responsive" style="width: 600px;margin: 20px auto;">
                    <form action="/seller/service_update/{{ service.id }}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group row my_form_block">
                            <label for="category_name" class="col-sm-3 control-label">Category Name</label>
                            <div class="col-sm-9">
                                <input disabled type="text" id="category_name" class="form-control"
                                       value="{{ service.category_name }}">
                            </div>
                        </div>

                        <div class="form-group row my_form_block">
                            <label for="title" class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" id="title" name="title" class="form-control"
                                       value="{{ service.title }}">
                            </div>
                        </div>

                        <div class="form-group row my_form_block">
                            <label for="desc" class="col-sm-3 control-label">Desc</label>
                            <div class="col-sm-9">
                                <textarea rows="3" id="desc" name="desc"
                                          class="form-control">{{ service.desc }}</textarea>
                            </div>
                        </div>

                        <div class="form-group row my_form_block">
                            <label for="price" class="col-sm-3 control-label">Price</label>
                            <div class="col-sm-9">
                                <input type="text" id="price" name="price" class="form-control"
                                       value="{{ service.price }}">
                            </div>
                        </div>

                        <div class="form-group row my_form_block">
                            <label for="image_file" class="col-sm-3 control-label">Image
                                <div class="my_small_text" style="color: #cd9a5c">(left blank when not modified)</div>
                            </label>
                            <div class="col-sm-9">
                                <input type="file" id="image_file" name="image_file" class="form-control">
                            </div>
                        </div>


                        <div style="margin-top: 40px;padding: 24px 40px;border-top: 1px solid #d7d7d7">
                            <input type="submit" value="Submit" class="my_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        new Vue({
            el: "#services",
            data: {
                serviceName: '',
                active: 0,
                options: [
                    {
                        value: "Dog maintenance",
                        label: "Dog maintenance",
                        children: [
                            {
                                value: "Nursing bath",
                                label: "Nursing bath",
                            },
                            {
                                value: "Foot trimming",
                                label: "Foot trimming",
                            },
                            {
                                value: "Cleaning ears",
                                label: "Cleaning ears",
                            },
                            {
                                value: "Insect repellent",
                                label: "Insect repellent",
                            },

                        ],
                    },
                    {
                        value: "Designing of styling",
                        label: "Designing of styling",
                    },
                    {
                        value: "Exercise/sports",
                        label: "Exercise/sports",
                        children: [
                            {
                                value: "Taking a walk",
                                label: "Taking a walk",
                            },
                            {
                                value: "High-intensity exercise",
                                label: "High-intensity exercise",
                            },
                            {
                                value: "Swimming training",
                                label: "Swimming training",
                            },
                        ],
                    },
                    {
                        value: "Teaching/Instruction",
                        label: "Teaching/Instruction",
                        children: [
                            {
                                value: "Obedience training",
                                label: "Obedience training",
                            },
                            {
                                value: "Agility training(basic)",
                                label: "Agility training(basic)",
                            },
                            {
                                value: "Agility training(advanced)",
                                label: "Agility training(advanced)",
                            },
                            {
                                value: "Basic desensitization training",
                                label: "Basic desensitization training",
                            },
                            {
                                value: "Training for food aggression",
                                label: "Training for food aggression",
                            },
                            {
                                value: "econstruction service",
                                label: "econstruction service",
                            },
                        ],
                    },
                ],
            },
            methods: {
                handleChange() {
                },
                next() {
                    if (this.active++ > 2) this.active = 0;
                }
            },

        });
        var locale = ELEMENT.lang.en
        Vue.use(ELEMENT, {locale})
    </script>

{% endblock %}
